div {
    box-sizing: border-box;
}

body {

    margin: 0px;
    font-family: 'Raleway';
}

main,
header {
    margin: 30px;
}

ul,
ol {
    list-style: none;
    display: inline-block;
}

.nav-section {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.nav-section img {
    width: 100px;
}

#navigation {
    margin: 0;
}

#navigation a {
    text-decoration: none;
    padding: 1em;
    color: black;
}

#navigation a:hover {
    color: #0065fc !important;
    text-decoration: overline;
}

@media all and (max-width: 768px) {
    #navigation a:hover {
        text-decoration: underline;
    }

    .nav-section {
        justify-content: center;
    }

    .grid-container {
        grid-template-areas:
            'myArea1' 'myArea2' 'myArea3' 'myArea4' 'myArea5'
            'myArea6' !important;
        grid-template-columns: 1fr;
    }

    footer {
        flex-direction: column;

    }
}


body {

    font-size: 15px;
}

#Activities_section {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    flex: 1;
    gap:20px;
}
.Activities_list_two{
    display: flex;
    flex-direction: column;
    flex: 1;
    gap:15px;
}

.Activities_list_two li {
   
    border-radius: 15px;
    box-shadow: 0 2px 1px #ddd;
   
}


#Activities_section ul {
    flex: 1;
    margin: 0;
    padding: 0;
}

.Activities_list li {
    display: flex;
    border-radius: 15px;
    box-shadow: 0 2px 1px #ddd;
    flex-direction: column;
    flex: 1;
}

.Activities_list img {
    display: block;
    background-size: cover;
    background-repeat: no-repeat;
    min-width: 250px;
    min-height: 350px;
    width: 100%;
    height: 100%;
    object-fit: cover;
    box-shadow: 0 2px 1px #ddd;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.Activities_list_two img {
    display: block;
    background-size: cover;
    background-repeat: no-repeat;
    min-width: 250px;
    max-height: 140px;
    width: 100%;
    height: 100%;
    object-fit: cover;
    box-shadow: 0 2px 1px #ddd;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.column_list {
    display: grid;
    grid-template-areas:
        'section1 section2 section4 section5'
        'section1 section3 section4 section6';
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    grid-template-rows: 150px 150px;
    grid-gap: 25px;
    padding: 0px;
}

.column_list img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.column_item {
    box-shadow: 0 2px 1px #ddd;
    border-radius: 25px;
}

.gallery__item--1 {
    grid-area: section1;
}

.gallery__item--2 {
    grid-area: section2;
}

.gallery__item--3 {
    grid-area: section3;
}

.gallery__item--4 {
    grid-area: section4;
}

.gallery__item--5 {
    grid-area: section5;
}

.gallery__item--6 {
    grid-area: section6;
}







/*section 2*/

#Acc-section {
    background-color: #f2f2f2;
    border-radius: 25px;
    width: 70%;
    padding: 25px;
}

#popular-section {
    margin-left: 10px;
    background-color: #f2f2f2;
    width: 27%;
    border-radius: 25px;
    padding: 25px;
}

.image-list-small {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    padding: 0px;
}



#main-section {
    display: flex;
    flex-wrap: wrap;
    gap: 25px;
}

/* Photo */
.image-list-small li {
    border: 5px solid #ffffff;
    border-radius: 20px;
    background-color: white;
    flex: 1;
    display: flex;
    flex-flow: column;
    flex-wrap: wrap;
}

.image-list-small li>a {
    display: block;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100px;
    box-shadow: 0 2px 1px #DDD;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.image-list-small .details {
    margin-top: 13px;
}
.details h3{
    padding-left: 10px;
}

#popular-item li>a {
    display: block;
    background-size: cover;
    background-repeat: no-repeat;
    width: 120px;
    height: 120px;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
}

#popular-section nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#popular-item li {
    border: 5px solid #ffffff;
    border-radius: 20px;
    background-color: white;

}

#popular-item li {
    display: flex;
    column-gap: 10px;
}

#popular-item {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 0px;
}

.checked {
    color: #0065fc !important;
}

.fa-star {
    color: #f2f2f2;
}

/* Search bar style */

button a {
    color: white;
}

/* Search bar style */
.search-local {
    border-radius: 1rem;
    border: 0.01rem solid #f2f2f2;
    background: white;
    width: 300px;

}

.search-local .map-icon {
    padding: 10px;
    background-color: #f2f2f2;
    border-radius: 10px 0px 0px 10px;
}

.icon {
    font-size: 1.5rem;
    cursor: pointer;
}

.search-local input {
    background: white;
    outline: none;
    border: none;
}

.search-local button {
    background: #0065fc;
    color: white;
    border: none;
    border-radius: 0 10px 10px 0;
    position: relative;
    float: right;
    margin: 0px;
    padding: 10px;
}

.search-local button .search-icon {
    display: none;
}

/* filter style */
.filters {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    align-items: center;
}

.filter-item {
    border: 0.01rem solid #f2f2f2;
    border-radius: 20px;
    display: flex;
    align-items: center;
}

.filter-icon {
    padding: 10px;
    background-color: #f2f2f2;
    border-radius: 15px;
}

.filter-item h4 {
    margin: 0;
    padding: 5px;
}

@media (max-width: 575px) {
    button .search-text {
        display: none;
    }

    .search-local button .search-icon {
        display: flex;
        /* margin-inline: auto; */
        color: white;
        /* font-size: 3rem; */
    }
}

/* footer styles */
footer {
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: #80808017
}

.footer_heading {
    font-weight: bold;
}

.footer_item {
    list-style: none;
    padding: 0;
    margin: 0;
}