div {
    box-sizing: border-box;
}

body {
    margin: 0px;
    font-family: 'Raleway';
    font-size: 15px;
}

main,
header {
    margin: 0px 30px 0px 30px;
}


ul,
ol {
    list-style: none;
    display: inline-block;
}

/* header navigation */
#logo {
    position: relative;
    top: 20px;
}

.nav-section {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.nav-section img {
    width: 100px;
}

#navigation ul {
    width: 100%;
    padding: 0;
    list-style: none;
}

#navigation ul li {
    float: left;
}

#navigation a {
    display: block;
    text-align: center;
    text-decoration: none;
    color: black;
    padding: 15px;
}

#navigation .selected {
    border-top: 1px solid #0065fc;
    color: #0065fc;
}

.fa-info {
    padding: 6px;
    height: 5px;
    width: 5px;
    border: 1px solid #f2f2f2;
    border-radius: 50%;
    color: #0065fc;
    margin-right: 5px;
}

/* Search bar style */

button a {
    color: white;
}

/* Search bar style */
.search-location .map-icon {
    background-color: #f2f2f2;
    padding: 12px;
    border-radius: 10px 0px 0px 10px;
}

.search-location button {
    height: 38px;
    padding: 10px;
    background: #0065fc;
    color: white;
    border: 2px solid #0065fc;
    border-radius: 0 10px 10px 0;
}

.search-location button .search-icon {
    display: none;
}

.search-location {
    height: 40px;
    position: absolute;
    border: 1px solid #f2f2f2;
    border-radius: 10px;
}

form {
    display: inline-block;
    margin: 0 auto;
}

.search-icon {
    display: none;
}

#info-section {
    display: flex;
    align-items: center;
    margin: 10px 0px;
}

.map_icon {
    border: 2px solid #f2f2f2;
}

.search-input {
    text-indent: 5px;
    border: none;
}

input:focus {
    outline: none;
}

/* filter style */
#filters {
    margin-top: 55px;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    align-items: center;
}

#filters .filter-item {
    border: 2px solid #f2f2f2;
    border-radius: 20px;
    display: flex;
    align-items: center;
}

.filter-icon {
    padding: 9px;
    background-color: #deebff;
    border-radius: 15px;
}

#filters h5 {
    margin: 0;
    padding-right: 13px;
    padding-left: 8px;
}

#filters .fa-solid {
    font-size: 13PX;
    color: #0065fc
}


/* Accommodation and most popular section */
#Accommodation-list {
    background-color: #f2f2f2;
    border-radius: 25px;
    width: 61.66%;
    padding: 30px;
}

#popular-section {
    background-color: #f2f2f2;
    width: 35.33%;
    border-radius: 25px;
    padding: 30px;
}

.image-list {
    width: 100%;
    display: flex;
    gap: 20px;
    padding: 0px 0px 20px 0px;
}

#Accommodations-section {
    display: flex;
    flex-wrap: wrap;
    gap: 25px;
}

#Accommodations-section h3 {
    margin: 0px;
}

#Accommodation-list .details {
    line-height: 1 !important;
    margin-left: 10px;
    margin-bottom: 10px;
}

#Accommodation-list .details h5,
p {
    margin: 8px 0px;
}

.details h5 {
    font-size: 13px;
}

#Accommodation-list .details h5 {
    margin-top: 4px;

}

.details p {
    font-size: 12px;
}

#rating_star {
    font-size: 11px;
}

/* Photo */
.image-list li {
    width: 30%;
    border-radius: 20px;
    box-shadow: 0 5px 9px 0 rgb(0 0 0 / 20%);
    background-color: white;
    flex: 1;
    display: flex;
    flex-flow: column;
    flex-wrap: wrap;
}

.image-list li>img {
    padding: 5px;
    width: -webkit-fill-available;
    display: block;
    object-fit: cover;
    background-repeat: no-repeat;
    height: 130px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

#popular-item .details {
    position: relative;
    line-height: 1.2;
    width: 160px;
    gap: 4px;
    width: 60%;
}

#popular-item #rating_star {
    position: absolute;
    bottom: 0;
    margin-bottom: 15px;
}

#popular-item .details h5 {
    margin-top: 15px;
}

#popular-item li>img {
    padding: 5px;
    display: block;
    object-fit: cover;
    background-repeat: no-repeat;
    width: 40%;
    height: 130px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

#popular-section nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#popular-item li {
    width: 100%;
    box-shadow: 0 5px 9px 0 rgb(0 0 0 / 20%);
    border-radius: 20px;
    background-color: white;

}

#popular-item li {
    display: flex;
    column-gap: 10px;
}

#popular-item {
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding: 0px;
}

.checked {
    color: #0065fc !important;
}

.fa-star {
    color: #f2f2f2;
}

/* Activities Section */
#Activities-section {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    flex: 1;
    gap: 30px;
}

.Activities-double-item {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.Activities-double-item li {
    height: 50%;
    border-radius: 15px;
    box-shadow: 0 1px 5px 0 rgb(0 0 0 / 20%);

}

#Activities-section ul {
    flex: 1;
    margin: 0;
    padding: 0;
}

.Activities-list li {
    display: flex;
    border-radius: 15px;
    box-shadow: 0 1px 5px 0 rgb(0 0 0 / 20%);
    flex-direction: column;
    flex: 1;
}

.Activities-list img {
    display: block;
    background-size: cover;
    background-repeat: no-repeat;
    min-width: 109px;
    min-height: 300px;
    width: 100%;
    height: 100%;
    object-fit: cover;
    box-shadow: 0 2px 1px #ddd;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.Activities-double-item img {
    display: block;
    background-size: cover;
    background-repeat: no-repeat;
    min-width: 109px;
    max-height: 112px;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.Activities-double-item #item1 {
    height: 66.66% !important;
}

.Activities-double-item #item1 img {
    max-height: 154px;
}

.Activities-double-item #item2 {
    height: 33.33% !important;
}

.Activities-double-item #item2 img {
    max-height: 71px;
}

#Activities-header {
    margin-top: 45px;
}




#Accommodation-show-more {
    text-decoration: none;
    color: black;
}

#Accommodation-show-more:hover {
    color: #0065fc;
}





#Activities-section .details h5 {
    margin: 15px 0px;
    padding-left: 15px;
}

/* footer styles */
footer {
    font-size: 13px;
    margin-top: 50px;
    padding: 20px 30px;
    display: flex;
    flex-wrap: wrap;
    background-color: #80808017
}

footer div {
    padding-right: 150px;
}

.footer-heading {
    font-size: 14px;
    margin-bottom: 10px;
    font-weight: bold;
}

.footer-item {
    line-height: 1.8;
    list-style: none;
    padding: 0;
    margin: 0;
}

/* mobile view styling */
@media all and (max-width: 768px) {

    #Accommodation-list,
    #popular-section {
        width: 100% !important;
    }
}

@media all and (max-width: 767px) {
    main,header {
        margin: 0px !important;
    }

    #filters,
    #info-section {
        margin-left: 20px;
        margin-right: 20px;
    }

    #filter-title {
        width: -moz-available;
        width: -webkit-fill-available;
    }

    #low-cost {
        order: 1;
    }

    #family-friendly {
        order: 3;
    }

    #romantic {
        order: 2;
    }

    #pets-allowed {
        order: 4;
    }

    #navigation ul li {
        float: left;
        width: 50%;
    }

    #navigation .selected {
        border-top: none;
        border-bottom: 3px solid #0065fc;
    }

    #navigation .unselected {
        border-bottom: 3px solid #f2f2f2;
    }

    #navigation a:hover {
        text-decoration: none;
    }

    #navigation {
        width: 100%;
        min-width: 375px;
    }

    .nav-section {
        justify-content: center;
    }

    #Accommodations-section {
        flex-direction: column-reverse;
    }

    .search-section {
        margin: 20px;
    }

    main {
        margin: 0;
    }

    button .search-button-text {
        display: none;
    }

    .search-location button .search-icon {
        display: unset !important;
        color: white;
    }

    .search-location button {
        border-radius: 10px;
    }

    #popular-section {
        border-radius: 0px !important;
        margin: 0px !important;
        width: 100% !important;
    }

    #popular-item {
        gap: 15px;
    }

    #Activities-header {
        padding-left: 20px;
    }

    #Activities-section {
        flex-direction: column !important;
        padding: 20px;
        gap: 25px;
    }

    #Accommodation-list {
        background-color: white !important;
        padding: 0px 20px !important;
    }

    .image-list {
        flex-direction: column;
        padding: 0px;
        gap: 15px;
    }

    footer {
        gap: 0px !important;
        flex-direction: column;
    }

    .Activities-list {
        flex-direction: column;
    }

    .Activities-list img,
    .Activities-double-item img {
        min-height: 150px !important;
        max-height: 150px !important;
    }

    .image-list li {
        width: 100% !important;
    }
}